.gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 46, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 46, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 46, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 46, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ bro/ers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 46, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__bg-2 { 
        /* ff 3.6+ */
        background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

        /* safari 5.1+,chrome 10+ */
        background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    
        /* ie 10+ */
        background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    
        /* global 92%+ browsers support */
        background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        width: 90%;
        margin: 0 auto;
}


.heading__subtext {
    color: var(--color-subtext) !important;
  }

  .heading__subtext-2{
    color: var(--color-subtext-2);
  }

.teos__button {
    background: var(--color-subtext);
    color: var(--color-bg);
}

.teos__button:hover,
.teos__button:active{
    background: var(--color-subtext-2);
    color: var(--color-text);
    z-index: 2;
}

.section-rule {
    background: var(--gradient-bar) !important;
    height: 3px !important;
    border: 0;
}

.heading__subtext-border{
    border-color: var(--color-subtext) !important;
}

.heading__text-dark {
    color: var(--color-bg) !important;
}

.teos__button-ghost{
    background-color: transparent !important;
    border: 2px solid var(--color-subtext);
    color: white;
    transition: all .6s;
}

.teos__button-ghost:active,
.teos__button-ghost:hover {
    background-color: var(--color-subtext) !important;
    color: var(--color-bg);
}

.bg-secondary{
    background-color: var(--color-subtext);
  }